@media (min-width: 320px) and (max-width: 480px)
{
	float:none;
	
	li
	{
	display:flex;
	border-top: solid white;
	}

	#logosite
	{
	display:flex;
	}
}

@media (min-width: 781px) and (max-width: 979px)
{

}

.espace
{
margin-left: auto;
margin-right: auto;
width: 75%;
background-color:#CCFFFF;
}

.espace2
{
margin-left: auto;
margin-right: auto;
width: 75%;
background-color:#9999FF;
}

.espace3
{
margin-left: auto;
margin-right: auto;
width: 75%;
}

.espace4
{
width:30%;
}

.espace5
{
width:50%;
}

html
{
font-family: serif;
}

.bbleuclair
{
background-color:#CCFFFF;
}

.bbleufonce
{
background-color:#9999FF;
}

.logopad
{
padding-top:10px;
padding-bottom:10px;
padding-right:2px;
}

.logopad2
{
padding-top:10px;
padding-bottom:10px;
}

.flex
{
display:flex;
}

ul
{
list-style-type: none;
overflow:hidden;
}

li
{
display:inline-block;
margin-left:15px;
margin-right:15px;
margin-top:30px;
margin-bottom:auto;
font-weight:bold;
}

li a
{
text-align:center;
}

.aligner
{
display:inline;
}

aligner2
{
display:inline-block;
}

.bordure
{
border:solid 0.1em;
}
	
.arrow 
{
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px 4px 4px 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #CCCCCC;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:center;
}


.dropdown:hover .dropdown-content
{
  display: block;
}

.dropdown-content a:hover {
background-color: #F5F5F5;
border-top:solid black 0.1em;
border-bottom:solid black 0.1em;
color:red;
}

.padmilieu
{
padding:10px;
}

.textmilieu
{
color:white;
font-size:1.2em;
font-weight:bold;
vertical-align: top;
}

.zonemilieu
{
width:30%;
}

.moreinfo
{
color:red;
}

.padmilieu
{
padding-left:10px;
padding-right:10px;
padding-top:30px;
padding-bottom:30px;
}

.destination
{
font-size:1.5em;
font-weight:bold;
}

.bordureimage
{
padding:5px;
border:solid gray 0.1em;
}

.tailleimage
{
  width: 100%;
  height: auto;
}

.padimages
{
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
}

.padbottom
{
padding-bottom:50px;
}

padimgdesc
{
padding:10px;
}

.pays
{
font-weight:bold;
padding-top:10px;
}

.textbas
{
font-size:1.5em;
}

.padbas
{
padding-right:10px;
}

.bouton
{
color:white;
background-color:#72A05B;
border:solid 1px black;
border-radius:5px;
padding:10px;
font-size:1.1em;
text-align:10px;
}

.textfoot
{
font-weight:bold;
padding:10px;
display:inline-block
}

.textfoot2
{
color:gray;
padding-bottom:10px;
font-size:0.8em;
}
